[Unit]
Description=vm-bhyve-qemu guests
Documentation=man:vm(8)
Requires=vm-network.service
After=vm-network.service
ConditionPathExists=/dev/kvm

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/vm startall
ExecStop=/usr/local/sbin/vm stopall
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
