[Unit]
Description=Setup vm-bhyve-qemu network
Before=vm.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/vm init
RemainAfterExit=yes
